/* Accessibiliy Notes n/a*/

body {
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', serif;
  color: black;
  background-color: lightgoldenrodyellow;
}


p {
  color: black;
  font-style: italic;
}


h1, h3, h4 {
  color: purple;
  text-align: center;
}

a {
  padding: 10px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* unvisited link */
a:link {
  color: purple;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link MUST come after link/visited*/
a:hover {
  color: #FFA500;
}

/* selected link MUST come after hover*/
a:active {
  color: blue;
}

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200 200 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,th {
  border: 1px solid rgb(190 190 190);
  padding: 10px 20px;
    background-color: rgb(250 250 250);
}

th {
  background-color: purple;
  color: whitesmoke;
}

td {
  text-align: center;
}

caption {
  padding: 10px;
  font-size: large;
}


/*transition of width and height for hover*/
img {
  width: 150px;
  height: 150px;
  transition: width 1s, height 1s;
}

/*height and width scaled up*/
img:hover {
  width: 400px;
  height: 400px;
}

/*transition of bgcolor and scale*/
button {
  background-color: lightgray;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 1s ease-out, transform 1s ease-out;
}

/*bgcolor and scale change on HOVER*/
button:hover {
  background-color: skyblue;
  transform: scale(1.1);
}

/* Keyframes */
/* 0 is beginning 100 is end */

/*animation makes the button scale up smoothly */
@keyframes bounceIn {
  0% {
    transform: scale(0.2);
  }
  60% {
    transform: scale(1.2)
  }  
  100% {
    transform: scale(1)
  }
}

.bounce-in {
  animation-duration: 2s;
  animation-name: bounceIn;
}

/*animation makes the image dangle and fall out */
@keyframes dangleFall {
  0% {
    animation-timing-function: ease-in-out;
  }
  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
  }
  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    opacity: 1;
  }  
  to {
    transform: rotate3d(0, 700px, 1);
    opacity: 0;
  }
}

.dangle-fall {
  animation-duration: 3s;
  animation-name: dangleFall;
  transform-origin: top left;
}